@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import "./components/_extends";
@import "./components/_mixins";
@import "./components/_variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
input {
  outline: none;
}
body {
  font-family: "Noto Sans", sans-serif;
  background-color: $shallowBlack;
}
.nav {
  background-color: $shallowBlack;
  position: fixed;
  top: 0;
  padding: 1em 1.5em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  justify-content: space-between;
  grid-column-gap: 1.5em;
  width: 100%;
  .nav__link {
    @extend %link;
    color: $deepwhite;
    transition: color 0.3s ease-in-out;
    font-weight: 600;
    &:hover {
      color: rgba(255, 255, 255, 0.4);
    }
  }
  .title {
    font-size: 1.2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    line-height: 1.5rem;
    .fa-youtube {
      font-size: 1.5rem;
      color: $mainColor;
      margin-right: 0.3em;
    }
  }
  .nav__form {
    display: flex;
    align-items: center;
    .search {
      width: 100%;
      font-size: 1rem;
      padding: 0.2em 0.8em;
      margin-right: 0.3em;
      border: 1px solid rgba(255, 255, 255, 0.7);
      border-radius: 35px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    }
    .submit {
      @extend %button;
      color: $deepwhite;
      transition: color 0.3s ease-in-out;
      font-size: 1rem;
      &:hover {
        color: rgba(255, 255, 255, 0.4);
      }
    }
  }
}
.homeGrid {
  @extend %page;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  grid-row-gap: 1em;
  .homeTitle {
    color: $deepwhite;
    font-size: 0.9rem;
  }
  .movies {
    justify-self: center;
    display: grid;
    grid-auto-rows: 1fr;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    @include responsive("small") {
      width: 419.2px;
    }
    @include responsive("medium") {
      width: 100%;
    }

    .movie {
      @extend %link;
      display: flex;
      padding-bottom: 0.5em;
      @include responsive("small") {
        flex-direction: column;
      }
      @include responsive("medium") {
        padding-top: 1em;
      }
      padding-bottom: 1em;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      &:last-child {
        border-bottom: none;
      }
      .movie__title {
        color: $deepwhite;
        transition: color 0.3s ease-in-out;
      }
      &:hover .movie__title {
        color: rgba(255, 255, 255, 0.4);
      }
      .movie__thumb {
        @include responsive("small") {
          width: 100%;
          height: auto;
          margin-bottom: 0.5em;
        }
        @include responsive("medium") {
          width: 320px;
          height: 180px;
          margin-right: 24px;
        }
      }
      .movie__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .movie__uploader {
          color: rgba(255, 255, 255, 0.4);
          font-size: 0.8rem;
          margin-top: 0.5em;
        }
        .movie__des {
          @include responsive("small") {
            display: none;
          }
          @include responsive("medium") {
            color: rgba(255, 255, 255, 0.4);
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
.totalGrid {
  display: grid;
  @media screen and (max-width: 920px) {
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: 921px) {
    grid-template-columns: 1fr min-content;
    height: 100vh;
  }
  .detailGrid {
    @extend %page;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    grid-row-gap: 1em;
    .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow: hidden;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .detail__info {
      .detail__title {
        color: $deepwhite;
      }
      .detail__uploader {
        color: rgba(255, 255, 255, 0.4);
        font-size: 0.8rem;
        margin: 0.5em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .desControl {
          @extend %button;
          color: $deepwhite;
          font-size: 0.8rem;
          transition: color 0.3s ease-in-out;
          &:hover {
            color: rgba(255, 255, 255, 0.4);
          }
        }
      }
      .detail__desCon {
        display: none;
        .desCon__des {
          color: rgba(255, 255, 255, 0.4);
          font-size: 0.8rem;
          white-space: pre-wrap;
        }
      }
    }
  }
  .otherGrid {
    @extend %page;
    grid-template-rows: min-content 1fr;
    grid-row-gap: 1em;
    @media screen and (max-width: 689px) {
      margin-top: 0;
    }
    @media screen and (min-width: 690px) and (max-width: 920px) {
      margin-top: 0;
      overflow-y: auto;
    }
    @media screen and (min-width: 921px) and (max-width: 1200px) {
      overflow-y: auto;
    }
    @media screen and (min-width: 1201px) {
      overflow-y: auto;
    }
    .otherTitle {
      color: $deepwhite;
      font-size: 0.9rem;
    }
    .movies {
      justify-self: center;
      display: grid;
      grid-auto-rows: 1fr;
      border-top: 1px solid rgba(255, 255, 255, 0.4);
      @include responsive("small") {
        width: 419.2px;
      }
      @include responsive("medium") {
        width: 100%;
      }

      .movie {
        @extend %link;
        display: flex;
        padding-bottom: 0.5em;
        @media screen and (max-width: 689px) {
          flex-direction: column;
        }
        @media screen and (min-width: 690px) and (max-width: 920px) {
          padding-top: 1em;
        }
        @media screen and (min-width: 921px) and (max-width: 1200px) {
          flex-direction: column;
        }
        @media screen and (min-width: 1201px) {
          padding-top: 1em;
        }
        padding-bottom: 1em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        &:last-child {
          border-bottom: none;
        }
        .movie__title {
          color: $deepwhite;
          transition: color 0.3s ease-in-out;
        }
        &:hover .movie__title {
          color: rgba(255, 255, 255, 0.4);
        }
        .movie__thumb {
          @media screen and (max-width: 689px) {
            width: 100%;
            height: auto;
            margin-bottom: 0.5em;
          }
          @media screen and (min-width: 690px) and (max-width: 920px) {
            width: 320px;
            height: 180px;
            margin-right: 24px;
          }
          @media screen and (min-width: 921px) and (max-width: 1200px) {
            width: 320px;
            height: 180px;
          }
          @media screen and (min-width: 1201px) {
            width: 320px;
            height: 180px;
            margin-right: 24px;
          }
        }
        .movie__info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .movie__uploader {
            color: rgba(255, 255, 255, 0.4);
            font-size: 0.8rem;
            margin-top: 0.5em;
          }
          .movie__des {
            @media screen and (max-width: 1200px) {
              display: none;
            }
            @media screen and (min-width: 1201px) {
              color: rgba(255, 255, 255, 0.4);
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
